header{
    background-color:gray;
    padding: 15px 0;
}
.cajas{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav
{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 23px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: white;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 13px;
}

   
.productos h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.dpresio{
font-size: 30px;
font-weight: bold;
margin-top: 10px;
}
.dproduct{
font-size: 15px;
text-transform: uppercase;
}
.dimagen{
    width:105%;
}
nav a:hover{
    color:yellowgreen;
    text-decoration: underline;
}
.productos li:hover{
    border-color:yellowgreen;
    
     
}
.productos li:hover h2{
    font-size: 35px;
}
.productos li:active{
    border-color:red;
}
footer{
    text-align: center;
    background-color:dimgray;
    padding: 40px;
}
.copyrhigt{
    padding: 40px;
}
h1{
    width: 100%;
}


main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}



form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}
form label, form p {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
table {
    margin: 40px 40px;
   
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}